In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_scraped.csv')

#salary parsing 
df = df[df['Salary Estimate'] != '-1']

In [4]:
df['Salary Estimate']

0      $122,500\n/yr (est.)
2      $129,500\n/yr (est.)
4       $95,000\n/yr (est.)
5       $86,000\n/yr (est.)
6       $96,553\n/yr (est.)
               ...
845    $119,164\n/yr (est.)
846     $70,000\n/yr (est.)
847    $116,945\n/yr (est.)
848    $142,000\n/yr (est.)
849    $165,000\n/yr (est.)
Name: Salary Estimate, Length: 703, dtype: object

In [5]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if '/hr' in x.lower() else 0)
df['monthly'] = df['Salary Estimate'].apply(lambda x: 1 if '/mo' in x.lower() else 0)

In [24]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])
salary_1 = salary.apply(lambda x: x.replace('\n','').replace('$',''))
salary_2 = salary_1.apply(lambda x: x.lower().replace('/yr','').replace('/hr','').replace('/mo',''))
df['Salary Estimate']=salary_2

In [35]:
# Define a function to extract the state abbreviation
def extract_state(location):
    split_location = location.split(',')
    if len(split_location) >= 2:
        return split_location[1].strip()  # Strip to remove leading/trailing spaces
    else:
        return location  

# Apply the function to create the 'job_state' column
df['job_state'] = df['Location'].apply(extract_state)

In [45]:
df['job_state'] = df['job_state'].replace({'New York State': 'NY', 'California': 'CA'})

In [51]:
# Convert 'Founded' column to integers
df['Founded'] = pd.to_numeric(df['Founded'], errors='coerce')  # coerce will set non-convertible values to NaN

# Calculate the age of the company
current_year = 2023  # Assuming the current year is 2023
df['age'] = current_year - df['Founded']

In [52]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,Sector,Revenue,hourly,monthly,job_state,age
0,Data Scientist,"122,500",Kafene is a leading point-of-sale financing pa...,-1.0,Kafene,"New York, NY",51 to 200 Employees,2019.0,Company - Private,Consumer Product Rental,Personal Consumer Services,Unknown / Non-Applicable,0,0,NY,4.0
2,Data Scientist (Multiple Openings),"129,500","Employer: DePuy Synthes Sales, Inc.\nJob Title...",4.2,Johnson & Johnson,"Raritan, NJ",10000+ Employees,1887.0,Company - Public,Biotech & Pharmaceuticals,Pharmaceutical & Biotechnology,$10+ billion (USD),0,0,NJ,136.0
4,Data Scientist,"95,000","TITLE: Data Scientist\nLOCATION: Bellevue, WA\...",4.7,AstrumU,"Bellevue, WA",1 to 50 Employees,2017.0,Company - Private,Computer Hardware Development,Information Technology,Unknown / Non-Applicable,0,0,WA,6.0
5,Data Scientist I,"86,000",Position Title: Data Scientist I\nSalary Range...,2.2,Vibrant Emotional Health,Remote,201 to 500 Employees,NaN,Nonprofit Organization,Civic & Social Services,Nonprofit & NGO,$5 to $25 million (USD),0,0,Remote,NaN
6,Data Scientist,"96,553",Focused on labor and employment law since 1958...,3.9,Jackson Lewis,"Houston, TX",1001 to 5000 Employees,1958.0,Company - Private,Legal,Legal,$100 to $500 million (USD),0,0,TX,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Senior Data Scientist I,"119,164","SENIOR DATA SCIENTIST | DATA SCIENCE | REMOTE,...",3.5,Travelport,"Atlanta, GA",1001 to 5000 Employees,1971.0,Company - Private,Information Technology Support Services,Information Technology,$1 to $5 billion (USD),0,0,GA,52.0
846,Research Data Scientist,"70,000",The Council of State Governments (CSG) is the ...,3.1,Council of State Governments,"Lexington, KY",201 to 500 Employees,1933.0,Nonprofit Organization,Membership Organizations,Management & Consulting,$25 to $100 million (USD),0,0,KY,90.0
847,Data Scientist,"116,945",Overview:\nWe are currently seeking a Data Sci...,4.1,Intelligent Waves LLC,"Chantilly, VA",201 to 500 Employees,2006.0,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,0,0,VA,17.0
848,Senior Data Scientist - Vocabulary,"142,000",JOB DESCRIPTION\n\nJoin our Chase Consumer and...,4.0,JPMorgan Chase & Co,"New York, NY",10000+ Employees,1799.0,Company - Public,Banking & Lending,Financial Services,$10+ billion (USD),0,0,NY,224.0
849,Senior Data Scientist,"165,000",Endpoint is a digital title and settlement com...,3.5,Endpoint Closing,"Irvine, CA",201 to 500 Employees,2018.0,Company - Private,Real Estate,Real Estate,Unknown / Non-Applicable,0,0,CA,5.0

In [53]:
df.to_csv('salary_data_cleaned.csv',index = False)